{% load static compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skriva - Home</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    {% include 'includes/header.html' %}
    
    <div class="container">
        <main>
            <div class="content-section">
                <h1>Welcome to Skriva</h1>
            </div>
        </main>

        {% include 'includes/footer.html' %}
    </div>

<script src="{% static 'js/header_menu.js' %}"></script>
</body>
</html>